/* ====================================================
 * Company: Unity Technologies
 * Author:  Rickard Andersson, rickard@unity3d.com
======================================================= */

/****************************************
  ==== RESETS & EXTRAS
****************************************/

html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,input,figure { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,cite,code,th { font-size: 1em; font-weight: normal; font-style: normal; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, video { display: block; }
iframe { border: none; } caption,th { text-align: left; } table { border-collapse: collapse; border-spacing: 0; }
img, img a, img a:hover { border: 0; display: block; max-width: 100%; }
::-moz-selection { background: #999; color: #fff; text-shadow: none; }
::selection { background: #999; color: #fff; text-shadow: none; }
.clear:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }.clear { display: inline-table; clear: both; }
/* Hides from IE-mac \*/ * html .clear { height: 1%; } .clear { display: block; } /* End hide from IE-mac */
.left { float: left !important; } .right { float: right !important; }.hide {display: none !important;}
.mb0 { margin-bottom: 0 !important; } .mb5 { margin-bottom: 5px !important; } .mb10 { margin-bottom: 10px !important; } .mb20 { margin-bottom: 20px !important; }
.mt10 { margin-top: 10px; } .mr0 { margin-right: 0 !important; } .mr10 { margin-right: 10px !important; }
.cl { color: #999; }

/****************************************
  ==== FORM
****************************************/

input, select, textarea { font-family: Helvetica, Arial, sans-serif; }
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner { padding: 0px; }
input[type="text"], select, textarea { font-size: 0.875em; display: block; outline-width: 0; border: #fff 0px solid; box-sizing: content-box; line-height: 16px; padding: 9px 8px 9px 8px; color: #444; resize: none; background-color: #fff; -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.35); -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.35); box-shadow: 0 1px 3px rgba(0,0,0,0.35); }

/****************************************
  ==== MESSAGES
****************************************/

div.message { padding: 10px 15px; margin: 0 0 15px 0; font-size: 0.875em; }
div.message-error { background: #ffe2d7; }
div.message-warning { background: #fff9d7; }
div.message-ok { background: #ebffce; }

/****************************************
  ==== TOOLTIP
****************************************/

.tt { position: relative; }
.tt div.tip { height: 20px; line-height: 20px; position: absolute; left: -100000px; z-index: 30; background: #444; color: #fff; border: 0; font-size: 0.6875em; font-weight: normal; padding: 0 5px; white-space: nowrap; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; text-align: center; }
.tt div.b:after { content: ""; display: block; position: absolute; top: -8px; left: 50%; font-size: 0px; line-height: 0%; width: 0px; margin: 0 0 0 -3px; border-top: 4px solid transparent; border-left: 4px solid transparent; border-bottom: 4px solid #444; border-right: 4px solid transparent; }
.tt div.t:after { content: ""; display: block; position: absolute; bottom: -8px; left: 50%; font-size: 0px; line-height: 0%; width: 0px; margin: 0 0 0 -4px; border-top: 4px solid #444; border-left: 4px solid transparent; border-bottom: 4px solid transparent; border-right: 4px solid transparent; }

/****************************************
  ==== TYPO
****************************************/

body { font: 16px/135% Helvetica, Arial, sans-serif; color: #333; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; overflow: auto; overflow-y: scroll; }
h1 { font-size: 2em; line-height: 1em; color: #222; font-weight: bold; letter-spacing: -1px; margin: 0 0 20px 0; }
h1.inherit { margin: 0 0 5px 0; }
h1 a { text-decoration: none; }
h1 a:hover { text-decoration: underline; }
h2 { font-size: 1.5em; line-height: 1em; color: #333; font-weight: bold; letter-spacing: -1px; margin: 0 0 15px 0; }
div.subsection div.subsection h2 { font-size: 1.25em; color: #444; letter-spacing: 0; }
h3 { font-size: 1.25em; line-height: 1.2em; font-weight: bold; margin: 0 0 10px 0; color: #444; }
h4 { font-size: 1em; line-height: 1em; font-weight: bold; margin: 0 0 10px 0; color: #444; }
p { font-size: 0.875em; margin: 0 0 15px 0; }
a { color: #5284bd; text-decoration: underline; outline: none; }
a:hover, a:focus, a:active { color: #5284bd; text-decoration: none; outline: none; }
.cn { color: #333; } .cn:hover { color: #333; } .b { font-weight: bold; }
ul.l { list-style-type: none; }
ul.l li { padding: 0 0 4px 20px; background: none; position: relative; font-size: 0.875em; }
ul.l li:before { content: "\2022"; font-size: 1.8em; position: absolute; top: 0; left: 0; color: #444; }
ul.l li a { color: #333; }

/****************************************
  ==== BUTTONS
****************************************/

.blue-btn, .gray-btn { height: 34px; line-height: 34px; display: block; float: left; padding: 0 20px; margin: 0 10px 0 0; color: #fff; font-size: 0.875em; text-align: center; cursor: pointer; text-decoration: none; border: 0; text-shadow: 0 1px rgba(0,0,0,0.15); -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
input.blue-btn, input.gray-btn { padding: 0 20px 4px 20px; }
.blue-btn { background-color: #255fa7; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#41badd), to(#255fa7)); background-image: -webkit-linear-gradient(top, #41badd, #255fa7);background-image: -moz-linear-gradient(top, #41badd, #255fa7);background-image: -ms-linear-gradient(top, #41badd, #255fa7);background-image: -o-linear-gradient(top, #41badd, #255fa7); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41badd', endColorstr='#255fa7',GradientType=0 ); }
.blue-btn:hover { color: #fff; background-color: #41badd;background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#41badd), to(#275c94)); background-image: -webkit-linear-gradient(top, #41badd, #275c94);background-image: -moz-linear-gradient(top, #41badd, #275c94);background-image: -ms-linear-gradient(top, #41badd, #275c94);background-image: -o-linear-gradient(top, #41badd, #275c94); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41badd', endColorstr='#275c94',GradientType=0 ); }
.blue-btn:active { background-color: #41badd; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#39b2d5), to(#1f548c)); background-image: -webkit-linear-gradient(top, #39b2d5, #1f548c);background-image: -moz-linear-gradient(top, #39b2d5, #1f548c);background-image: -ms-linear-gradient(top, #39b2d5, #1f548c);background-image: -o-linear-gradient(top, #39b2d5, #1f548c); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39b2d5', endColorstr='#1f548c',GradientType=0 ); -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.gray-btn { background-color: #333; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555), to(#333));  background-image: -webkit-linear-gradient(top, #555, #333);background-image: -moz-linear-gradient(top, #555, #333);background-image: -ms-linear-gradient(top, #555, #333);background-image: -o-linear-gradient(top, #555, #333); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#333333',GradientType=0 ); }
.gray-btn:hover { color: #fff; background-color: #222; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555), to(#222));background-image: -webkit-linear-gradient(top, #555, #222);background-image: -moz-linear-gradient(top, #555, #222);background-image: -ms-linear-gradient(top, #555, #222);background-image: -o-linear-gradient(top, #555, #222); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#222222',GradientType=0 ); }
.gray-btn:active { -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.4); -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.4); box-shadow: inset 0 1px 3px rgba(0,0,0,0.4); }
.bigbtn { height: 40px; line-height: 40px; padding: 0 25px; font-size: 1em; }
.smallbtn { height: 24px; line-height: 24px; padding: 0 10px !important; font-size: 12px; }
.disabledbtn, .disabledbtn:hover, .disabledbtn:active { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; cursor: default; text-shadow: none; background-color: #ccc; color: #fff;background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#ccc));background-image: -webkit-linear-gradient(top, #ddd, #ccc);background-image: -moz-linear-gradient(top, #ddd, #ccc);background-image: -ms-linear-gradient(top, #ddd, #ccc);background-image: -o-linear-gradient(top, #ddd, #ccc); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#cccccc',GradientType=0 ); }
.prev-btn, .next-btn { padding: 0 !important; }
.prev-btn span.arrow, .next-btn span.arrow { width: 24px; height: 24px; display: block; float: left; border-right: rgba(0,0,0,0.6) 1px solid; background: url(../images/sprites.png) -401px -128px no-repeat; }
.prev-btn span.text, .next-btn span.text { min-width: 49px; display: block; float: left; padding: 0 15px; border-left: rgba(255,255,255,0.1) 1px solid; }
.next-btn span.arrow { border-left: rgba(0,0,0,0.6) 1px solid; border-right: 0; background: url(../images/sprites.png) -401px -166px no-repeat; }
.next-btn span.text { border-right: rgba(255,255,255,0.1) 1px solid; border-left: 0; }

/****************************************
  ==== HEADER
****************************************/

div.header-wrapper { width: 100%; height: 100px; position: fixed; z-index: 30; background: #666; }
div.header { width: 100%; height: 60px; background: rgba(84,84,84,0.9); background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU0NTQ1NCIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMjkyOTI5IiBzdG9wLW9wYWNpdHk9IjAuOSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMGYwZjBmIiBzdG9wLW9wYWNpdHk9IjAuOSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(top, rgba(84,84,84,0.9) 0%, rgba(53,53,53,0.9) 50%, rgba(41,41,41,0.9) 50%, rgba(15,15,15,0.9) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(84,84,84,0.9)), color-stop(50%,rgba(53,53,53,0.9)), color-stop(50%,rgba(41,41,41,0.9)), color-stop(100%,rgba(15,15,15,0.9))); background: -webkit-linear-gradient(top, rgba(84,84,84,0.9) 0%,rgba(53,53,53,0.9) 50%,rgba(41,41,41,0.9) 50%,rgba(15,15,15,0.9) 100%); background: -o-linear-gradient(top, rgba(84,84,84,0.9) 0%,rgba(53,53,53,0.9) 50%,rgba(41,41,41,0.9) 50%,rgba(15,15,15,0.9) 100%);  background: -ms-linear-gradient(top, rgba(84,84,84,0.9) 0%,rgba(53,53,53,0.9) 50%,rgba(41,41,41,0.9) 50%,rgba(15,15,15,0.9) 100%); background: linear-gradient(to bottom, rgba(84,84,84,0.9) 0%,rgba(53,53,53,0.9) 50%,rgba(41,41,41,0.9) 50%,rgba(15,15,15,0.9) 100%); -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: 0 0 3px rgba(0,0,0,0.3); box-shadow: 0 1px 4px rgba(0,0,0,0.3); }
div.header div.content { min-width: 760px; max-width: 1260px; margin: 0 auto; padding: 0 20px; position: relative; }
div.header div.logo { width: 234px; height: 37px; float: left; padding: 10px 50px 0 0; }
div.header div.logo a { width: 234px; height: 37px; display: block; background: url(../images/sprites.png) 0 0 no-repeat; }
div.header ul.docs-menu { float: left; list-style-type: none; margin: 13px 13px 0 0; padding: 0 12px 0 0; border-right: #555 1px solid; }
div.header ul.docs-menu li { float: left; margin: 0 1px 0 0; font-size: 0.875em; }
div.header ul.docs-menu li a { height: 34px; line-height: 34px; display: block; float: left; padding: 0 15px; text-decoration: none; cursor: pointer; color: #fff; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
div.header ul.docs-menu li a:hover { background: #666; }
div.header ul.docs-menu li a.selected { background-color: #255fa7; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#41badd), to(#255fa7)); background-image: -webkit-linear-gradient(top, #41badd, #255fa7);background-image: -moz-linear-gradient(top, #41badd, #255fa7);background-image: -ms-linear-gradient(top, #41badd, #255fa7);background-image: -o-linear-gradient(top, #41badd, #255fa7); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41badd', endColorstr='#255fa7',GradientType=0 ); }
div.header div.more-menu { height: 47px; float: left; padding: 13px 0 0 0; }
div.header div.more-menu div.box { height: 35px; float: left; margin: 0 1px 0 0; position: relative; }
div.header div.more-menu div.box div.label { height: 34px; line-height: 34px; color: #fff; font-size: 0.875em; cursor: pointer; background: url(../images/sprites.png) right 14px no-repeat; }
div.header div.more-menu div.box:hover div.label { background-color: #666; }
div.header div.more-menu div.box div.label a, div.header div.more-menu div.box div.label a:hover { color: #fff; text-decoration: none; padding: 0 25px 0 15px; }
div.header div.more-menu div.box ul { width: 200px; background: #666; position: absolute; top: 35px; left: 0; z-index: 10; list-style-type: none; }
div.header div.more-menu div.box ul li { height: 34px; line-height: 34px; }
div.header div.more-menu div.box ul li a { width: 185px; height: 34px; line-height: 30px; float: left; padding: 0 0 0 15px; color: #fff; font-size: 0.8125em; text-decoration: none; }
div.header div.more-menu div.box ul li a:hover { text-decoration: none; background: #777; }
div.header div.search { float: right; position: relative; margin: 13px 0 0 0; }
div.header div.search input.field { width: 300px; }
div.header div.search input.submit { width: 34px; height: 34px; border: 0; cursor: pointer; outline-width: 0; text-indent: -9999em; position: absolute; top: 0; right: 0; background: #fff url(../images/sprites.png) 9px -51px no-repeat; }

/****************************************
  ==== TOOLBAR
****************************************/

div.toolbar { width: 100%; height: 40px; background: #f0f0f0; }
div.toolbar div.content { min-width: 760px; max-width: 1260px; margin: 0 auto; padding: 0 20px; position: relative; }
div.toolbar div.breadcrumbs { float: left; }
div.toolbar div.breadcrumbs ul { list-style-type: none; }
div.toolbar div.breadcrumbs ul li { line-height: 40px; float: left; margin: 0 10px 0 0; padding: 0 0 0 13px; font-size: 0.8125em; background: url(../images/sprites.png) 0 -124px no-repeat; }
div.toolbar div.breadcrumbs ul li:first-child { padding: 0; background: none; }
div.toolbar div.breadcrumbs ul li a { display: block; float: left; color: #555; }
div.toolbar div.script-lang { padding: 7px 0; float: right; position: relative; }
div.toolbar div.script-lang h4 { line-height: 26px; float: left; margin: 0 5px 0 0; display: none; }
div.toolbar div.script-lang ul { list-style-type: none; float: left; }
div.toolbar div.script-lang ul li { width: 46px; height: 26px; line-height: 26px; display: block; float: left; margin: 0 0 0 5px; text-align: center; font-size: 0.75em; cursor: pointer; background: #fff; -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.35); -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.35); box-shadow: 0 1px 3px rgba(0,0,0,0.35); }
div.toolbar div.script-lang ul li:hover, div.toolbar div.script-lang ul li.selected { background-color: #222; color: #fff; }
div.toolbar div.script-lang div.dialog { width: 300px; background: #f8f8f8; box-shadow: 0 1px 3px rgba(0,0,0,0.3); position: absolute; top: 45px; right: 0; z-index: 10; }
div.toolbar div.script-lang div.dialog:before { content: ""; display: block; position: absolute; top: -16px; right: 70px; border: transparent 8px solid; border-bottom-color: #379fc9; }
div.toolbar div.script-lang div.dialog div.dialog-header { height: 29px; background: #379fc9; }
div.toolbar div.script-lang div.dialog h5 { line-height: 29px; float: left; padding: 0 7px; margin: 0; color: #fff; font-size: 0.875em; font-weight: bold; }
div.toolbar div.script-lang div.dialog div.close { width: 15px; height: 15px; float: right; margin: 7px; cursor: pointer; background: url(../images/sprites.png) -285px -33px no-repeat; }
div.toolbar div.script-lang div.dialog p { padding: 12px 15px; margin: 0; }
div.lang-switcher { padding: 7px 0; float: right; position: relative; }
div.lang-switcher div.current { float: left; }
div.lang-switcher div.lbl { float: left; line-height: 26px; padding: 0 3px 0 0; font-size: 0.8125em; cursor: pointer; }
div.lang-switcher div.current div.arrow { width: 7px; height: 26px; float: left; background: url(../images/sprites.png) -484px -24px no-repeat; cursor: pointer; }
div.lang-switcher div.lang-list { width: 125px; position: absolute; top: 36px; right: 0; z-index: 30; background: #fff; border-top: #222 3px solid; -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3); -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.3); box-shadow: 0 1px 5px rgba(0,0,0,0.3); display: none; }
div.lang-switcher div.lang-list:before { content: ""; display: block; position: absolute; top: -12px; left: 50%; font-size: 0px; line-height: 0%; width: 0px; margin: 0 0 0 -5px; border: transparent 5px solid; border-bottom-color: #222; }
div.lang-switcher div.lang-list ul { list-style-type: none; max-height: 159px; overflow: auto; }
div.lang-switcher div.lang-list li { font-size: 0.75em; border-bottom: #e6e6e6 1px solid; }
div.lang-switcher div.lang-list li:last-child { border: 0; } 
div.lang-switcher div.lang-list a { display: block; padding: 5px; color: #555; text-decoration: none; }
div.lang-switcher div.lang-list a:hover { background: #f0f0f0; }

/****************************************
  ==== LAYOUT
****************************************/

div.master-wrapper { min-width: 760px; max-width: 1260px; margin: 0 auto 40px auto; padding: 130px 20px 20px 20px; }
div.content-wrap { width: 100%; float: right; margin: 0 0 0 -300px; position: relative; z-index: 1; }
div.content-block { margin: 0 0 0 300px; }
div.content-wrap div.content { min-width: 460px; max-width: 960px; }
div.content-wrap div.content div.section { padding: 0 10px; margin: 0 0 20px 0; min-height: 200px; }

/****************************************
  ==== FOOTER
****************************************/

div.footer-wrapper { width: 100%; height: 40px; margin: 0 auto; background: #f0f0f0; }
div.footer { min-width: 760px; max-width: 1260px; height: 40px; line-height: 40px; padding: 0 20px; margin: 0 auto; color: #999; font-size: 0.75em; }
div.footer div.copy { float: left; }
div.footer div.menu { float: right; }
div.footer div.menu a { color: #999; margin: 0 0 0 15px; }

/****************************************
  ==== SIDEBAR
****************************************/

div.sidebar { width: 270px; margin: 0 30px 0 0; float: left; position: relative; z-index: 2; }
div.sidebar-wrap { width: 270px; position: fixed; background: #fff; }
div.sidebar div.ruler-m { width: 30px; height: auto; position: absolute; right: 0px; top: 10px; bottom: 10px; z-index: -1; background: -webkit-linear-gradient(right,rgba(0, 0, 0, .05),rgba(0, 0, 0, .05) 1px,rgba(0, 0, 0, .07) 1px,transparent 30px,transparent 100%); background: -moz-linear-gradient(right,rgba(0, 0, 0, .05),rgba(0, 0, 0, .05) 1px,rgba(0, 0, 0, .07) 1px,transparent 30px,transparent 100%); background: -ms-linear-gradient(right,rgba(0, 0, 0, .05),rgba(0, 0, 0, .05) 1px,rgba(0, 0, 0, .07) 1px,transparent 30px,transparent 100%); background: -o-linear-gradient(right,rgba(0, 0, 0, .05),rgba(0, 0, 0, .05) 1px,rgba(0, 0, 0, .07) 1px,transparent 30px,transparent 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=1 ); }
div.sidebar div.ruler-t { width: 30px; height: 30px; position: absolute; right: 0px; top: -20px; z-index: -1; background: -webkit-radial-gradient(right bottom,circle,rgba(0, 0, 0, .07),transparent 30px,transparent 100%); background: -moz-radial-gradient(right bottom,circle,rgba(0, 0, 0, .07),transparent 30px,transparent 100%); background: -o-linear-gradient(right bottom,circle,rgba(0, 0, 0, .07),transparent 30px,transparent 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=1 ); }
div.sidebar div.ruler-b { width: 30px; height: 30px; position: absolute; right: 0px; bottom: -20px; z-index: -1; background: -webkit-radial-gradient(right top,circle,rgba(0, 0, 0, .07),transparent 30px,transparent 100%); background: -moz-radial-gradient(right top,circle,rgba(0, 0, 0, .07),transparent 30px,transparent 100%); background: -o-linear-gradient(right top,circle,rgba(0, 0, 0, .07),transparent 30px,transparent 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=1 ); }
div.sidebar div.content { padding: 0 20px 0 0; }
div.sidebar-menu { margin: 0 0 10px 0; padding: 0 0 20px 0; border-bottom: #e6e6e6 1px solid; }
div.sidebar-menu h2 { margin: 0 0 20px 0; padding: 0 0 10px 0; border-bottom: #e6e6e6 1px solid; }
div.sidebar .subhead { font-size: 1em; font-weight: bold; margin: 0 0 5px 0; float: left; padding: 0 0 0px 25px; color: #222; cursor: pointer; position: relative; border-bottom: #ddd 0px solid; background: url(../images/sprites.png) -50px -57px no-repeat; }
div.sidebar-menu ul { list-style-type: none; margin: 0 0 20px 0; position: relative; }
div.sidebar-menu ul li { font-size: 0.875em; word-wrap: break-word; margin: 0 0 8px 0; line-height: 1.3em; padding: 0 0 0 22px; position: relative; }
div.sidebar-menu ul li.nl span { cursor: pointer; }
div.sidebar-menu ul li div.arrow { width: 12px; height: 12px; cursor: pointer; border: #e6e6e6 1px solid; position: absolute; top: 2px; left: 0; background: url(../images/sprites.png) 0 0 no-repeat; }
div.sidebar-menu ul li div.arrow:hover { background-color: #e6e6e6 !important; }
div.sidebar-menu ul li div.collapsed { background-position: -51px -61px; }
div.sidebar-menu ul li div.expanded { background-position: -51px -95px; }
div.sidebar-menu ul li a { display: block; color: #555; word-wrap: break-word; }
div.sidebar-menu ul li a.current { background: #222; color: #fff; padding: 5px 8px; text-decoration: none; }
div.sidebar-menu ul li ul { margin: 8px 0 8px 0; }
div.sidebar-menu ul li ul:before { content: ""; display: none; width: 1px; height: auto; position: absolute; top: -9px; bottom: 11px; left: -15px; background: #e6e6e6; }
div.sidebar-menu ul li ul li ul:before { left: -15px; }
div.sidebar-menu ul li ul li div.arrow { left: 0px; }
div.sidebar-menu ul li ul li { font-size: 0.9em; padding: 0 0 0 22px; }
div.sidebar-menu ul li ul li ul li { font-size: 1em;  }
div.sidebar-menu ul li ul li:before { content: ""; display: none; width: 15px; height: 1px; position: absolute; top: 10px; left: -15px; background: #e6e6e6; }

/****************************************
  ==== SIDEBAR CUSTOM SCROLLER
****************************************/

.mCSB_container { width: auto; margin-right: 20px; overflow: hidden; }
.mCSB_container.mCS_no_scrollbar { margin-right: 0; }
.mCS_disabled>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar, .mCS_destroyed>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar { margin-right: 30px; }
.mCustomScrollBox>.mCSB_scrollTools { width: 16px; height: 100%; top: 0; right: 0; opacity: 0.5; filter: "alpha(opacity=50)"; -ms-filter:"alpha(opacity=50)"; }
.mCustomScrollBox:hover>.mCSB_scrollTools { opacity: 1; filter: "alpha(opacity=100)"; -ms-filter: "alpha(opacity=100)"; }
.mCSB_scrollTools .mCSB_draggerContainer { width: 8px; position: absolute; top: 0; bottom: 0; right: 0; height: auto; }
.mCSB_scrollTools a+.mCSB_draggerContainer { margin: 20px 0; }
.mCSB_scrollTools .mCSB_draggerRail { width: 2px; height: 100%; margin: 0 auto; background: #000; background: rgba(0,0,0,0.25); }
.mCSB_scrollTools .mCSB_dragger { width: 100%; height: 30px; cursor: pointer; }
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 8px; height: 100%; margin: 0 auto; text-align: center; background: #222; -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3); -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3); box-shadow: 0 1px 2px rgba(0,0,0,0.3);}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar { background: #222; }
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar { background: #222; }
.mCustomScrollBox { -ms-touch-action: none; }

/****************************************
  ==== CUSTOM SELECT
****************************************/

div.select-box { position: relative; }
div.select-box div.label { width: 250px; height: 40px; line-height: 40px; padding: 0 0 0 15px; background: #fff; position: relative; text-align: left; cursor: pointer; font-size: 0.875em; -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4);-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.4);box-shadow: 0 1px 3px rgba(0,0,0,0.4); }
div.select-box div.label:after { content: ""; width: 27px; height: 40px; display: block; background: #f0f0f0 url(../images/sprites.png) -385px -78px no-repeat; border-left: #e6e6e6 1px solid; position: absolute; top: 0; right: 0; z-index: 20; }
div.select-box div.label span { float: none; font-size: 1em; color: #222; font-weight: bold; }
div.select-box ul { width: 265px; max-height: 200px; overflow: auto; position: absolute; top: 47px; left: 0; z-index: 30; background: #fff; list-style-type: none; display: none; -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4);-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.4);box-shadow: 0 1px 3px rgba(0,0,0,0.4); }
div.select-box ul li { border-bottom: #e6e6e6 1px solid; height: 36px; line-height: 36px; padding: 0 0 0 10px !important; color: #222; font-size: 0.8125em; cursor: pointer; }
div.select-box ul li:before { display: none; }
div.select-box ul li:last-child { border-bottom: 0; }
div.select-box ul li:hover { text-decoration: none; background: #f0f0f0; color: #222; }
div.select-box ul li.selected { color: #222; font-weight: bold; background: #f0f0f0; }

/****************************************
  ==== HISTORY TABLE
****************************************/

.history-table { width: 100%; }
.history-table .link { width: 70%; }
.history-table .type { width: 15%; }
.history-table .namespace { width: 15%; }
.history-table th { padding: 5px 10px; font-size: 0.875em; font-weight: bold; background: #f0f0f0; }
.history-table td { padding: 7px 10px; font-size: 0.875em; border-bottom: #e6e6e6 1px solid; }

/****************************************
  ==== CONTENT
****************************************/

div.signature { margin: 0 0 40px 0; font-size: 0.875em; }
div.signature div.sig-block { margin: 0 0 3px 0; }
div.signature .sig-kw { font-weight: bold; }
table.list { width: 100%; margin: 10px 0 30px 0; font-size: 0.875em; }
table.list tbody { border-bottom: #ddd 1px solid; border-top: #ddd 1px solid; }
table.list td { vertical-align: top; padding: 0 10px 5px 0; }
table.list td.lbl { width: 20%; }
table.list td.desc { width: 80%; }
table.list td.name { font-weight: bold; }
table.list tr:first-child td { padding-top: 15px; }
table.list tr:last-child td { padding-bottom: 15px; }
.content .section ul {  list-style-type: none; margin: 0 0 20px 0; }
.content .section ul li, .content .section ol li ul li { padding: 0 0 3px 20px; background: none; position: relative; font-size: 0.875em; }
.content .section ul li:before { content: "\2022"; font-size: 1.8em; position: absolute; top: 0; left: 0; color: #444; }
.content .section ul li ul, .content .section ul li ul li ul { margin: 0 0 5px 0; }
.content .section ul li ul li, .content .section ul li ul li ul li, .content .section ol li ul li { font-size: 1em; }
.content .section ol { margin: 0 0 20px 0; padding: 0 0 0 20px; }
.content .section ol li { padding: 0 0 5px 0; font-size: 0.875em; }
.content .section ul li ol { margin: 0 0 5px 0; }
.content .section ul li ol li:before { display: none; }
.content figure { margin: 0 0 30px 0; }
.content figure img { margin: 0 0 10px 0; }
.content figure figcaption { margin: 0 0 10px 0; font-size: 0.875em; color: #666; }

/****************************************
  ==== SEARCH RESULTS
****************************************/

div.search-results h2 { padding: 0 0 15px 0 !important; border-bottom: #e6e6e6 1px solid; letter-spacing: -1px; font-weight: normal; }
div.search-results h2 span.q { font-weight: bold; }
div.search-results div.result { width: 90%; margin: 0 0 20px 0; }
div.search-results div.result a.title { color: #5284bd; font-size: 1em; }
div.search-results div.result p { color: #666; font-size: 0.8125em; }
div.search-results b { word-wrap: break-word; }

/****************************************
  ==== SCRIPTING OVERVIEW
****************************************/

div.intro-left {
  width: 60%; float: left; margin: 0 5% 0 0; display: inline;
}
div.intro-right {
  width: 35%; float: left;
}
div.overview-filter {
  background: #f0f0f0; padding: 15px; margin: 0 0 15px 0;
}
div.overview-filter h2 {
  line-height: 36px;
}
div.overview-table div.letter {
  width: 17%; padding: 0 3% 0 0; float: left;
}
div.overview-table h3 {
  padding: 0 0 10px 0; margin: 0 0 10px 0; border-bottom: #e6e6e6 1px solid;
}
div.overview-table ul li {
  padding: 0 0 3px 0 !important; font-size: 0.875em; word-wrap: break-word;
}
div.overview-table ul li:before {
  display: none;
}
table.overview-table td {
  width: 20%; padding: 0 20px 0 0; vertical-align: top;
}
table.overview-table h3 {
  padding: 0 0 10px 0; margin: 0 0 10px 0; border-bottom: #e6e6e6 1px solid;
}
table.overview-table ul li {
  padding: 0 0 3px 0 !important; font-size: 0.875em; word-wrap: break-word;
}
table.overview-table ul li:before {
  display: none;
}

/****************************************
  ==== CODE SNIPPETS
****************************************/

pre { font-family: "Courier New", Courier, monospace; padding: 15px; margin: 0 0 25px 0; border: #ddd 1px solid; background: #f0f0f0; font-size: 0.875em; color: #222; overflow: auto; }
.code, .codelisting { white-space: pre; }
pre .comment { color: #006600; }
pre .hl-comment { color: #006600; }
pre a { text-decoration: none; }
pre a:hover { text-decoration: underline; }

/****************************************
  ==== MEDIA QUERIES
****************************************/

@media only screen and (max-width: 1150px) {
div.header div.more-menu { display: none; }
div.header div.search input.field { width: 300px; }
div.header ul.docs-menu { border-right: 0; }
}
@media only screen and (max-width: 960px) {
div.header div.search input.field { width: 180px; }
}
@media only screen and (max-width: 840px) {
div.header div.search input.field { width: 150px; }
}
@media only screen and (max-width: 839px) {
div.master-wrapper { padding: 20px 20px 20px 20px; }
div.header-wrapper { width: auto; position: relative; float: left; }
div.sidebar-wrap { width: 270px; position: static; }
div.content-wrap { width: 460px; float: left; margin: 0; }
div.content-block { margin: 0; }
div.footer-wrapper { width: auto; float: left; margin: 0; }
}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
div.header div.logo a, div.header div.more-menu div.box div.label, div.header div.search input.submit, div.toolbar div.breadcrumbs ul li,
div.toolbar div.script-lang div.dialog div.close, div.sidebar-menu ul li.collapsed div.arrow, div.sidebar-menu ul li.expanded div.arrow,
.prev-btn span.arrow, .next-btn span.arrow, div.lang-switcher div.current div.arrow { background-image: url(../images/sprites@2x.png); -webkit-background-size: 500px 250px; -moz-background-size: 500px 250px; -o-background-size: 500px 250px; background-size: 500px 250px; }  
}

