/* ====================================================
 * Company: Unity Technologies
 * Author:  Rickard Andersson, rickard@unity3d.com
======================================================= */

div.header { 
  background: url(../images/topnav-bg.jpg) 0 0 repeat-x !important;
}
div.header div.search input.submit {
  height: 33px; top: 1px; 
}
div.sidebar {
  background: url(../images/sidebar-bg.jpg) right 0 repeat-y !important;
}
div.sidebar div.ruler-m, div.sidebar div.ruler-t, div.sidebar div.ruler-b {
  display: none;
}
table.list {
  border-bottom: #ddd 1px solid; border-top: #ddd 1px solid;
}
table.list tbody {
  border: 0;
}